services:
  - type: web
    name: discord-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python emoji_online_1.1.0.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
